<!DOCTYPE html> 
<html lang="en" style="background-color: lightgreen;">

<head>
    <title>Flask Image Demo</title>
</head>

<body style="font-family: Arial; text-align: center;">

<h1 style="color: darkblue;">
Hello Flask Framework!
</h1>

<p style="font-size:18px;">
Visit Flask Quickstart:
<a href="https://flask.palletsprojects.com/en/stable/quickstart/" target="_blank" style="color: red;">
Flask Quickstart Guide
</a>
</p>

<p style="font-size:18px;">
Click here to display image:
<a href="/show-image" style="color: blue;">
Show Flask Image
</a>
</p>

</body>
</html>
