<!DOCTYPE html>
<html lang="en" style="background-color: green;">

<head>
    <title>Flask Image Demo</title>
    <style>
        body {
            font-family: Arial;
            text-align: center;
            background-color: green;
            color: red;
        }

        h1, p, a {
            color: red;
        }
    </style>
</head>

<body style="background-color: green; color: red;">

    <h1 style="color: red;">
        Hello Flask Framework!
    </h1>

    <p style="font-size:18px; color: red;">
        Visit Flask Quickstart:
        <a href="https://flask.palletsprojects.com/en/stable/quickstart/" target="_blank" style="color: red;">
            Flask Quickstart Guide
        </a>
    </p>

    <p style="font-size:18px; color: red;">
        Click here to display image:
        <a href="/show-image" style="color: red;">
            Show Flask Image
        </a>
    </p>

</body>
</html>